.row{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

    padding-right: 15px;
    padding-left: 15px;

    & .column{
        -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
        flex: 1 1 0px;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        min-width: 0;

        &.medium-6{
            max-width: 50%;
            flex: 0 0 50%;
        }
    }
}

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-middle{
    align-items: center;
}

.align-center {
    justify-content: center;
}

@media only screen and (max-width: 950px) {    
    .row{
        & .column{
            &.small-12{
                max-width: 100%;
                flex: 0 0 100%;
            }
        }
    }
}