//header style
.header{
    position:fixed;
    width: 100%;
    z-index: 12;

    background-color:$primary-color;
    padding: 2.5rem 0rem;

    //block title
    &_title{
        color:$white;
        font-size: 1.3rem;

        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    //brand logo
    &_logo{
        max-width:9rem;
        margin:auto 0 auto auto;
    }
}